.even{
    background-color: #f0f0f0;
}
button {
    background-color: #0d066c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type="text"] {
    width: 32%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}